@media screen and (max-width: 320px) {
    .header {
        padding: 5px;
    }
    .header h1 {
        font-size: 1.2em;
        margin-block-start: 0.6em;
        margin-block-end: 0.6em;
    }
    div .menu-h {
        font-size: 0.6em;
    }
    .titulo {
        font-size: 17px;
    }
    .fundo-1 {
        height: 280px;
        width: 130px;
    }
    .fundo-2 {
        height: 280px;
        width: 130px;
    }
    .fundo-3 {
        height: 280px;
        width: 130px;
        background-size: cover;
        background-position: center
    }
    .fundo-4 {
        height: 280px;
        width: 130px;
    }
    .fundo-5 {
        height: 280px;
        width: 130px;
    }
    .fundo-6 {
        height: 280px;
        width: 130px;
        background-size: cover;
    }
    .fundo-7 {
        height: 280px;
        width: 130px;
    }
    .fundo-8 {
        height: 280px;
        width: 130px;
    }
    .fundo-9 {
        height: 280px;
        width: 130px;
    }
    .fundo-10 {
        height: 280px;
        width: 130px;
    }
    .fundo-11 {
        height: 280px;
        width: 130px;
        background-position: center;
    }
    .fundo-12 {
        height: 280px;
        width: 130px;
        background-size: cover;
    }
    .fundo-13 {
        height: 280px;
        width: 130px;
    }
    .player-slider {
        gap: 10px;
        padding: 0 10px;
        margin: 15px 0;
    }
    .lista-jogadores{
        width: 180px;
        height: 100px;
        position: relative;
    }
    .btn-seta {
        width: 15px;
        height: 15px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-jogadores {
        height: 320px;
    }
    .cartao .informacoes .nome {
        max-width: 20%;
        font-size: 12px;
    }
    .cartao .informacoes .pontos {
        font-size: 9px;  
    }
    .cartao .informacoes {
        padding: 4px 6px;
        opacity: 0.6;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .cartao .trofeus {
        opacity: 0.6;
    }
    .cartao .trofeus .texto {
        font-size: 9px;
        padding: 6px;
    }
    .informacoes-descricao {
        margin: 0 30px;
        padding: 4px;
        font-size: 9px;
    }
    .footer {
        margin-top: 20px;
    }
      footer {
        font-size: 7px;
        text-align: auto;
        padding: 4px;
    } 
}
@media screen and (min-width: 320px) and (max-width: 340px) {
    .header {
        padding: 10px;
    }
    .header h1 {
        font-size: 1.3em;
        margin-block-start: 0.7em;
        margin-block-end: 0.7em;
    }
    div .menu-h {
        font-size: 0.6em;
    }
    .titulo {
        font-size: 19px;
    }
    .fundo-1 {
        height: 380px;
        width: 200px;
    }
    .fundo-2 {
        height: 380px;
        width: 200px;
    }
    .fundo-3 {
        height: 380px;
        width: 200px;
        background-size: cover;
        background-position: center
    }
    .fundo-4 {
        height: 380px;
        width: 200px;
    }
    .fundo-5 {
        height: 380px;
        width: 200px;
    }
    .fundo-6 {
        height: 380px;
        width: 200px;
    }
    .fundo-7 {
        height: 380px;
        width: 200px;
    }
    .fundo-8 {
        height: 380px;
        width: 200px;
    }
    .fundo-9 {
        height: 380px;
        width: 200px;
    }
    .fundo-10 {
        height: 380px;
        width: 200px;
    }
    .fundo-11 {
        height: 380px;
        width: 200px;
    }
    .fundo-12 {
        height: 380px;
        width: 200px;
        background-size: cover;
    }
    .fundo-13 {
        height: 380px;
        width: 200px;
    }
    .player-slider {
        gap: 20px;
        padding: 0 10px;
        margin: 15px 0;
    }
    .lista-jogadores{
        width: 210px;
        height: 150px;
        position: relative;
    }
    .btn-seta {
        width: 15px;
        height: 15px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-jogadores {
        height: 420px;
    }
    .cartao .informacoes .nome {
        max-width: 40%;
        font-size: 16px;
    }
    .cartao .informacoes .pontos {
        font-size: 11px;  
    }
    .cartao .informacoes {
        padding: 5px 7px;
        opacity: 0.6;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .cartao .trofeus {
        opacity: 0.6;
    }
    .cartao .trofeus .texto {
        font-size: 10px;
        padding: 6px;
    }
    .informacoes-descricao {
        margin: 0 40px;
        padding: 4px;
        font-size: 12px;
    }
    .footer {
        margin-top: 60px;
    }
      footer {
        font-size: 10px;
        text-align: auto;
        padding: 4px;
    } 
}
@media screen and (min-width: 340px) and (max-width: 420px) {
    .header {
        padding: 15px;
    }
    .header header .titulogeral {
        font-size: 1.2em;
        margin-block-start: 0.7em;
        margin-block-end: 0.7em;
    }
    div .menu-h {
        font-size: 0.6em;
    }
    .fundo-1 {
        height: 400px;
        width: 210px;
    }
    .fundo-2 {
        height: 400px;
        width: 210px;
    }
    .fundo-3 {
        height: 400px;
        width: 210px;
    }
    .fundo-4 {
        height: 400px;
        width: 210px;
    }
    .fundo-5 {
        height: 400px;
        width: 210px;
    }
    .fundo-6 {
        height: 400px;
        width: 210px;
    }
    .fundo-7 {
        height: 400px;
        width: 210px;
    }
    .fundo-8 {
        height: 400px;
        width: 210px;
    }
    .fundo-9 {
        height: 400px;
        width: 210px;
    }
    .fundo-10 {
        height: 400px;
        width: 210px;
    }
    .fundo-11 {
        height: 400px;
        width: 210px;
    }
    .fundo-12 {
        height: 400px;
        width: 210px;
    }
    .fundo-13 {
        height: 400px;
        width: 210px;
    }
    .player-slider {
        gap: 20px;
        padding: 0 10px;
        margin: 25px 0;
    }
    .lista-jogadores{
        width: 210px;
        position: relative;
        height: 420px;
    }
    .btn-seta {
        width: 15px;
        height: 15px;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cartao .informacoes .nome {
        max-width: 40%;
        font-size: 16px;
    }
    .cartao .informacoes .pontos {
        font-size: 11px;  
    }
    .cartao .informacoes {
        padding: 5px 7px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .cartao .informacoes .nome {
        font-size: 14px;
    }
    .cartao .trofeus {
        opacity: 0.6;
    }
    .cartao .trofeus .texto {
        font-size: 10px;
        padding: 6px;
    }
    .informacoes-descricao {
        margin: 0 40px;
        padding: 4px;
        font-size: 12px;
    }
    .footer {
        margin-top: 100px;
    }
      footer {
        font-size: 10px;
        text-align: auto;
        padding: 4px;
    }  
}
@media screen and (min-width: 420px) and (max-width: 500px) {
    .header {
        padding: 15px;
    }
    body .header h1 {
        font-size: 1.2em;
        margin-block-start: 0.7em;
        margin-block-end: 0.7em;
    }
    div .menu-h {
        font-size: 0.8em;
    }
    .player-slider {
        gap: 10px;
        padding: 0 15px;
        margin: 30px 0;
    }
    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-jogadores {
        height: 480px;
    }
    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 18px;
    }
    .cartao .informacoes .pontos {
        font-size: 12px;  
    }
    .cartao .informacoes {
        padding: 6px 8px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .cartao .informacoes .nome {
        font-size: 20px;
    }
    .cartao .trofeus {
        opacity: 0.6;
    }
    .cartao .trofeus .texto {
    font-size: 12px;
    padding: 8px;
    }
    .informacoes-descricao {
        margin: 0 30px;
        padding: 5px;
    }
    .footer {
        margin-top: 130px;
    }
      footer {
        font-size: 12px;
        text-align: auto;
        padding: 4px;
    }  
}
@media screen and (min-width: 500px) and (max-width: 680px) {
    .header {
        padding: 15px;
    }
    .header header .titulogeral {
        font-size: 1.3em;
        margin-block-start: 0.9em;
        margin-block-end: 0.9em;
    }
    div .menu-h {
        font-size: 0.9em;
    }
    .player-slider {
        gap: 10px;
        padding: 0 15px;
    }
    .btn-seta {
        width: 20px;
        height: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lista-jogadores {
        height: 480px;
    }
    .cartao .informacoes .nome {
        max-width: 50%;
        font-size: 18px;
    }
    .cartao .informacoes .pontos {
        font-size: 12px;  
    }
    .cartao .informacoes {
        padding: 6px 8px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .cartao .informacoes .nome {
        font-size: 20px;
    }
    .cartao .trofeus {
        opacity: 0.6;
    }
    .cartao .trofeus .texto {
    font-size: 12px;
    padding: 8px;
    }
    .informacoes-descricao {
        margin: 0 30px;
        padding: 5px;
    }
    .footer {
        margin-top: 120px;
    }
      footer {
        font-size: 14px;
        text-align: auto;
        padding: 5px;
    }
}
@media screen and (min-width: 680px) and (max-width: 750px) {
    .header {
        padding: 18px;
    }
    .header header .titulogeral {
        font-size: 1.4em;
        margin-block-start: 1.0em;
        margin-block-end: 1.0em;
    }
    div .menu-h {
        font-size: 0.9em;
    }
    .footer {
        margin-top: 130px;
    }
      footer {
        font-size: 15px;
        text-align: auto;
        padding: 5px;
    }
}
@media screen and (min-width: 750px) and (max-width: 850px) {
    .header {
        padding: 20px;
    }
    .header header .titulogeral {
        font-size: 1.6em;
        margin-block-start: 1.1em;
        margin-block-end: 1.1em;
    }
    div .menu-h {
        font-size: 1.0em;
    }
    .footer {
        margin-top: 290px;
    }
      footer {
        font-size: 15px;
        text-align: auto;
        padding: 5px;
    }  
}
@media screen and (min-width: 850px) and (max-width: 950px) {
    .header {
        padding: 30px;
    }
    .header header .titulogeral {
        font-size: 1.8em;
        margin-block-start: 1.2em;
        margin-block-end: 1.2em;
    }
    div .menu-h {
        font-size: 1.1em;
    }
    .footer {
        margin-top: 355px;
    }
      footer {
        font-size: 15px;
        text-align: auto;
        padding: 5px;
    }  
}
@media screen and (min-width: 950px) and (max-width: 1050px) {
    .header {
        padding: 30px;
    }
    .header header .titulogeral {
        font-size: 1.8em;
        margin-block-start: 1.2em;
        margin-block-end: 1.2em;
    }
    div .menu-h {
        font-size: 1.1em;
    }
    .footer {
        margin-top: 355px;
    }
      footer {
        font-size: 15px;
        text-align: auto;
        padding: 5px;
    }  
}
@media screen and (min-width: 1050px) and (max-width: 1150px) {
    .header {
        padding: 30px;
    }
    .header header .titulogeral {
        font-size: 1.9em;
        margin-block-start: 1.3em;
        margin-block-end: 1.3em;
    }
    div .menu-h {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 1150px) and (max-width: 1250px) {
    .header {
        padding: 30px;
    }
    .header header .titulogeral {
        font-size: 2.0em;
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
    }
    div .menu-h {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 1250px) and (max-width: 1350px) {
    .header {
        padding: 30px;
    }
    .header header .titulogeral {
        font-size: 2.0em;
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
    }
    div .menu-h {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 1350px) and (max-width: 1450px) {
    .header {
        padding: 30px;
    }
    .header header .titulogeral {
        font-size: 2.0em;
        margin-block-start: 1.5em;
        margin-block-end: 1.5em;
    }
    div .menu-h {
        font-size: 1.2em;
    }
}